body {
  background-color: #ecebe6;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
  margin-left: 50px;
  text-indent: 10px;
}
p {
  text-indent: 10px;
}
h1 {
  font-size: 2.5em; /* 40px/16=2.5em */
}

h2 {
  font-size: 1.875em; /* 30px/16=1.875em */
}

p {
  font-size: 0.875em; /* 14px/16=0.875em */
}

.section1 {
  background-color: #ffffff;
  width: 100%;
  height: 150px;

  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 10px;
  padding-left: 5px;
}

.floatRight {
  float: right;
  width: 100px;
  height: 100px;
  margin-left: 20px;
  margin-right: 20px;
}

.section3 {
  color: black;
  width: 100%;
  height: 150px;
}
.section4 {
  background-color: white;
  width: 100%;
  height: 70px;
  text-align: left;

  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 10px;
  padding-left: 5px;
}
.pad {
  padding-top: 2px;
}

.nav {
  background-color: #302f2d;
  border: 2px solid rgb(54, 4, 4);
  border-radius: 10px;
}
.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav li {
  float: right;
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-left: 1px solid #fff;
}

.nav li a:hover {
  background-color: #111;
}
.clr {
  color: black;
}

.rnav {
  list-style-type: none;
  text-align: left;
  margin: 0;
  padding: 0;
}

.rnav li {
  display: inline-block;
  width: 100px;
  height: 5px;
  font-size: 20px;
  padding: 20px;
}

.rnav li a {
  display: inline-block;
  color: #111;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
footer {
  text-align: right;
}

.myimg {
  float: left;
  margin-left: 5px;
}
.fclr {
  color: #f76323;
}
